<header>
    <div class="container">
       <a href="#" routerlink="/" >
           <img src="../assets/image/magic logo.jpg" height="100px" width="150px">
       </a>
       <a href="#home" class="float">home</a>
       <!-- <a href="#home" class="float">Category</a>
       <a href="#home" class="float">location</a>
       <a href="#home" class="float">Cart</a>-->
       <a href="index2.html" class="float">About Us</a>
       <a href="index1.html" class="float">Contact Us</a> 
   </div>
     
</header>
                   
