

<div class="about-section">
  <h1>Contact Us</h1>
   <h3> Email : Food@gmail.com</h3>
   <h3> contact No: +91 123456789</h3>
 
</div>
<!-- <div class="container">
  <form action="action_page.php">

    <label for="fname">First Name</label></br>
    <input type="text" id="fname" name="firstname" placeholder="Your Name"> </br>

    <label for="lname">Last Name</label></br>
    <input type="text" id="lname" name="lastname" placeholder="Your Last Name"></br>

    <label for="lname">Email Id</label></br>
    <input type="text" id="Eid" name="Email" placeholder="Your Email Id.."></br>

    <label for="subject">Subject</label></br>
    <textarea id="subject" name="subject" placeholder="Write Something"></textarea></br>

    <input type="submit" value="Submit">

  </form>
</div> -->




